body, html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: white;
  background-color: #101010;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #1c1c1c;
}

.social-icons a {
  margin-left: 10px;
}

.social-icons img {
  width: 6vh;
  height: 6vh;
}

.intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  background-color: #1c1c1c;
}

.intro-text {
  max-width: 60%;
}

.contact-me-btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #00bfa5;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.skills {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 40px;
  background-color: #2c2c2c;
}

.skills .skill {
  background-color: #1c1c1c;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.projects {
  padding: 40px;
  background-color: #101010;
}

.projects h2 {
  text-align: center;
  margin-bottom: 40px;
}

.projects h3 {
  margin-top: 40px;
  text-align: center;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.project {
  background-color: #1c1c1c;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.project img {
  width: 100%;
  border-radius: 10px;
}

.project-link {
  display: block;
  margin-top: 10px;
  color: #00bfa5;
  text-decoration: none;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #1c1c1c;
}
